<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>LJ CRUD</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <!--bootstrapVue js-->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>-->

</head>
<body>
    <div class="container-fluid" id="crudapp">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Learning Journey CRUD</h1>
                <hr>
            </div>
        </div>

        <!-- add course -->
        <div class="col col-md-12">
            <div>
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#add-course-collapse">Add Course</button>

                <!-- collapse add member form -->
                <div class="collapse mt-2" id="add-course-collapse">
                    <div class="card card-body">
                        <form action="" method="post" @submit.prevent="onSubmit">
                            <table class="table table-hover">
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </thead>
                                <tbody>
                                    <tr v-for="avail_course in avail_courses">
                                        <td>{{ avail_course.course_code }}</td>
                                        <td>{{ avail_course.course_name }}</td>
                                        <td>{{ avail_course.course_desc }}</td>
                                        <td><button class="btn btn-sm btn-info" @click="added = !added">Add</button>
                                    </td>
                                    </tr>
                                    
                                    <tr>
                                        <!-- <td>COR3302</td>
                                        <td>yyy and xxx</td>
                                        <td>COR3301</td>
                                        <td> -->
                                            <!-- <button class="btn btn-sm btn-info" @click="added = !added">Add</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- message -->
        <div class="text-center mt-4" v-if="deleted === true">
            <p class="text-danger"><strong>{{ del_msg }}</strong></p>
        </div>
        <div class="text-center mt-4" v-if="added === true">
            <p class="text-success"><strong>{{ add_msg }}</strong></p>
        </div>

        <!-- show existing course -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr v-for="ljc in lj_courses">
                            <td>{{ ljc.course_code }}</td>
                            <td>{{ ljc.course_name }}</td>
                            <td>{{ ljc.course_desc }}</td>
                            <td>{{ ljc.course_status }}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" @click="del_course(role_code, ljc.course_code)" data-method="Delete">Delete</button>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>COR3301</td>
                            <td>System Design and xxx</td>
                            <td>COR3301</td>
                            <td>
                                <button class="btn btn-sm btn-danger" @click="deleted = !deleted">Delete</button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<!-- Bundled Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
crossorigin="anonymous"></script>
<!-- Vue.js Version 3 CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!--axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--bootstrapVue js-->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
    const crudapp = new Vue({
        el: "#crudapp",
        data: {
                // attempt to hard-code data part for testing
                role_code: 0,
                lj_id:0,
                course_code: '',
                course_name: '',
                course_description: '',
                lj_courses:[],
                // lj_courses:[{
                //     "course_code": "COR002",
                //     "course_name": "Lean Six Sigma Green Belt Certification",
                //     "course_desc": "Apply Lean Six Sigma methodology and statistical tools such as Minitab to be used in process analytics",
                //     },
                //     {
                //         "course_code": "COR004",
                //         "course_name": "Service Excellence",
                //         "course_desc": "The programme provides the learner with the key foundations of what builds customer confidence in the service industr",
                //     },
                //     {
                //         "course_code": "FIN001",
                //         "course_name": "Data Collection and Analysis",
                //         "course_desc": "Data is meaningless unless insights and analysis can be drawn to provide useful information for business decision-making. It is imperative that data quality, integrity and security ",
                //     }
                // ],
                avail_courses: [],
                // avail_courses: [{course_code: "COR3302", course_name: 'yyy and xxx', course_description: 'decription 111'}], 
                deleted: false,
                added: false,
                del_msg: 'Course Deleted',
                add_msg: 'Course Added',
                parameters:0
            },
        methods:{
            onSubmit(){
                    if (this.lj_id !== '' && this.course_code !== '' && this.course_name !== '' && this.course_description !== ''){
                        axios.post("http://127.0.0.1:5000/learning_journey", 
                            {lj_id: this.lj_id,
                            course_code: this.course_code,
                            course_name: this.course_name,
                            course_description: this.course_description}
                        )
                        .then(res=> {
                            console.log(res)
                            alert('New course successfully added')
                            this.avail_courses = []

                            crudapp.getCourses()
                        })
                        .catch(err=>{
                            console.log(err)
                        })
                    } else {
                        alert('Error! Empty fields')
                    }
                },
            getCourses(){
                
                let parameters = new URLSearchParams(window.location.search);
                this.parameters = parameters.get('role_code');
                // console.log(this.parameters);
                // console.log('http://127.0.0.1:4999/' + this.parameters + '/skills');

                axios.get('http://127.0.0.1:4848/learning_journey/' + this.parameters)
                    .then(response => {
                        
                        this.lj_courses= response.data.data;

                        
                        console.log(response.data.data);
                    
                    })
                    .catch(error => alert(error));

            },
            del_course(role_code, ljc_code){
                if (window.confirm('Delete this record')) {
                        axios.delete("http://127.0.0.1:4888/del_ljc/"+role_code+"/"+ljc_code)
                        .then(res => {
                            console.log(res)
                            alert('delete successfully')
                            crudapp.getCourses()
                        })
                        .catch(err => {
                            console.log(err)
                        })
                    }
            }
        }, 
        mounted: function(){
            this.getCourses()
            let parameters = new URLSearchParams(window.location.search)
            this.role_code = parameters.get('role_code')
            this.lj_id = parameters.get('lj_id')

        }
    })
</script>
</html>