<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>LJ CRUD</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <!--bootstrapVue js-->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- vue 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>-->

</head>
<body>
    <div class="container-fluid" id="crudapp">
        <div class="staffbanner text-center">
            <h1>Learning Journey Update Page</h1>
        </div>

        <!-- nav bar -->
        <div class="row">
            <div class="col-11">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="./Staffroles.html">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="./ViewLearningJourney_latest.html">Learning Journey</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- add course -->
        <div class="col col-md-12">
            <div>
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#add-course-collapse">Show Courses</button>

                <!-- collapse add member form -->
                <div class="collapse mt-2" id="add-course-collapse">
                    <div class="card card-body">
                        <form action="">
                            <table class="table table-hover">
                                <thead>
                                    <th>Course Code</th>
                                    <th>Course Name</th>
                                    <th>Course Desc</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr v-for="avail_course in avail_courses">
                                        <td>{{ avail_course.course_code }}</td>
                                        <td>{{ avail_course.course_name }}</td>
                                        <td>{{ avail_course.course_desc }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info" @click="onSubmit(avail_course.course_code, avail_course.course_desc, avail_course.course_name)" data-method="post">
                                            <a v-bind:href="`StaffEditLearningJourney.html?role_code=${avail_course.role_code}&lj_id=${avail_course.role_code}`">
                                            Add
                                            </a>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- show existing course -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr v-for="ljc in lj_courses">
                            <td>{{ ljc.course_code }}</td>
                            <td>{{ ljc.course_name }}</td>
                            <td>{{ ljc.course_desc }}</td>
                            <td>{{ ljc.course_status }}</td>
                            <td>
                                <button class="btn btn-sm btn-danger" @click="del_course(role_code, ljc.course_code)" data-method="Delete">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<!-- Bundled Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
crossorigin="anonymous"></script>
<!-- Vue.js Version 3 CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!--axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--bootstrapVue js-->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>
    const crudapp = new Vue({
        el: "#crudapp",
        data: {
                role_code: 0,
                lj_id: 0,
                course_code: '',
                course_name: '',
                course_description: '',
                lj_courses:[],
                avail_courses: [],
                deleted: false,
                added: false,
                parameters:0
            },
        methods:{
            getavailcourses(){
                let parameters = new URLSearchParams(window.location.search);
                this.parameters = parameters.get('role_code');
                axios.get("http://127.0.0.1:4848/role-skill-course-relation/" + this.parameters)
                .then(response => {
                    console.log(response.data.rel_courses)
                    this.avail_courses = response.data.rel_courses;
                })
                .catch(err=>{
                    console.log(err)
                })
            },

            onSubmit(course_code,course_desc,course_name){
                this.course_code = course_code
                this.course_desc = course_desc
                this.course_name = course_name
                if (this.course_code !== ''){
                        axios.post('http://127.0.0.1:4848/learning_journey', 
                            {lj_id: this.lj_id,
                            course_code: this.course_code,
                            role_code: this.role_code}
                        )
                        .then(res=> {
                            console.log(res)
                            alert('Course has been successfully added')
                            this.course_name = ''
                            this.course_code = ''
                            this.course_desc = ''
                            crudapp.getCourses()

                        })
                        .catch(err=>{
                            console.log(err)
                        })
                    } else {
                        alert('Error! Empty fields')
                    }
            },
            getCourses(){
                
                let parameters = new URLSearchParams(window.location.search);
                this.parameters = parameters.get('role_code');

                axios.get('http://127.0.0.1:4848/learning_journey/' + this.parameters)
                    .then(response => {
                        
                        this.lj_courses= response.data.data;
                        console.log(response.data.data);
                    
                    })
                    .catch(error => alert(error));

            },
            del_course(role_code, ljc_code){
                if (window.confirm('Delete this record')) {
                        axios.delete("http://127.0.0.1:4848/del_ljc/"+role_code+"/"+ljc_code)
                        .then(res => {
                            console.log(res)
                            alert('delete successfully')
                            crudapp.getCourses()
                        })
                        .catch(err => {
                            console.log(err)
                        })
                    }
            }
        }, 
        mounted: function(){
            this.getavailcourses()
            this.getCourses()

            let parameters = new URLSearchParams(window.location.search)
            this.role_code = parameters.get('role_code')
            this.lj_id = parameters.get('lj_id')

            
        }
    })
</script>
</html>