<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">
    <!--bootstrapVue js-->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="hr_skills" class="container-fluid" style="margin-bottom: 20px;">
        <div class="banner text-center">
            <h1>Skills page</h1>
        </div>

        <!-- ######## START Navigation bar ######## -->
        <div class="row "> 
            <div class="col-11">
              <ul class="nav"> 
                <li class="nav-item">
                    <a class="nav-link text-dark" href="./HRroles.html">Roles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="./HRskills.html">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="./assign_skill_to_role.html">Assign skills to roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark" href="./assign_course_to_skill.html">Assign courses to skills</a>
                </li>
              </ul>
            </div>
      </div>
      <!-- ######## END Navigation bar ######## -->

        <!-- ######## START Add Role ######## -->
      <div class="row">
        <div class="col-md-12">
            <b-button id="show-btn" @click="showModal('my-modal')">Add Skill</b-button>
            <b-modal ref="my-modal" hide-footer title="Add skill">
                <div>
                    <form action="" @submit.prevent="onSubmit">
                        <div class="form-group">
                            <label for="">Skill name</label>
                            <input type="text" v-model="skill_name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Skill code</label>
                            <input type="text" v-model="skill_code" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Skill Description</label>
                            <input type="text" v-model="skill_desc" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-outline-info">Add skill</button>
                        </div>
                    </form>
                </div>
                <b-button class="mt-3" variant="outline-danger" block @click="hideModal('my-modal')">Close</b-button>
            </b-modal>
        </div>
        <!-- ######## END Add Role ######## -->

        <!-- ######## START Edit/Update Role ######## -->
        <div>
            <b-modal ref="my-modal1" hide-footer title="Update Record">
            <div>
                <form action="" @submit.prevent="onUpdate(skill_code)">
                <div class="form-group">
                    <label for="">Skill Name</label>
                    <input type="text" v-model="edit_skill_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Skill Code</label>
                    <input type="text" v-model="edit_skill_code" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Skill Description</label>
                    <input type="text" v-model="edit_skill_desc" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-outline-info">Update Skill</button>
                </div>
                </form>
            </div>
            <b-button class="mt-3" variant="outline-danger" block @click="hideModal('my-modal1')">Close</b-button>
            </b-modal>
        </div>
        <!-- ######## END Edit/Update Role ######## -->

        <!-- Table -->
        <div class="mx-3 table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Skill Name</th>
                        <th>Skill Code</th>
                        <th>Skill Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="s in skill_details">
                        <td>{{s.skill_name}}</td>
                        <td>{{s.skill_code}}</td>
                        <td>{{s.skill_desc}}</td>
                        <td>
                            <button @click="deleteRecord(s.skill_code)" class="btn btn-sm btn-outline-danger">Delete</button>
                            <button @click="editRecord(s.skill_code)" class="btn btn-sm btn-outline-info">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    <!-- Bundled Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" 
    crossorigin="anonymous"></script>
    <!-- Vue.js Version 2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--bootstrapVue js-->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        const hr_skills = new Vue({
            el: '#hr_skills',
            data: {
                skill_name: '',
                skill_code: '',
                skill_desc: '',
                skill_details: [],
                edit_skill_name: '',
                edit_skill_code: '',
                edit_skill_desc: '',
            },

            methods: {
                showModal(id){
                    this.$refs[id].show()
                },
                hideModal(id){
                    this.$refs[id].hide()
                },
                onSubmit(){
                    if (this.skill_name !== '' && this.skill_code !== '' && this.skill_desc !== ''){
                        axios.post('http://127.0.0.1:4999/create_skill', 
                            {skill_name: this.skill_name, skill_code: this.skill_code, skill_desc: this.skill_desc}
                        )
                        .then(res=> {
                            console.log(res)
                            alert('New skill successfully added')
                            this.skill_name = ''
                            this.skill_code = ''
                            this.skill_desc = ''

                            hr_skills.hideModal('my-modal')
                            hr_skills.get_skill()
                        })
                        .catch(err=>{
                            console.log(err)
                        })
                    } else {
                        alert('Error! Empty fields')
                    }
                },
                get_skill(){
                axios.get('http://127.0.0.1:4999/skills')
                    .then(response => {
                        
                        this.skill_details= response.data.data.skills;
                        // console.log(response.data)
                    })
                    .catch(error => alert(error));
                },
                editRecord(skill_code){
                    // hr_skills.showModal('my-modal1')
                    this.skill_code = skill_code
                    axios.get("http://127.0.0.1:4999/edit_skill/" + skill_code)
                    .then(res => {
                        console.log(res.data)
                        this.edit_skill_name = res.data.roles['skill_name']
                        this.edit_skill_code = res.data.roles['skill_code']
                        this.edit_skill_desc = res.data.roles['skill_desc']
                        hr_skills.showModal('my-modal1')
                    })
                    .catch(err => {
                        console.log(err)
                    })
                },
                onUpdate(){
                    console.log(this.skill_code)
                    // hr_roles.hideModal('my-modal1')

                    if (this.edit_skill_name !== '' && this.edit_skill_code !== '' && this.edit_skill_desc !== ''){
                        axios.put('http://127.0.0.1:4999/update_skill/' + this.skill_code,
                            {edit_skill_name: this.edit_skill_name, edit_skill_code: this.edit_skill_code, edit_skill_desc: this.edit_skill_desc}
                        )
                        .then(res=> {
                            console.log(res)
                            alert('Skill successfully updated')
                            this.edit_skill_name = ''
                            this.edit_skill_code = ''
                            this.edit_skill_desc = ''

                            hr_skills.hideModal('my-modal1')
                            hr_skills.get_skill()
                        })
                        .catch(err=>{
                            console.log(err)
                        })
                    } else {
                        alert('Error! Empty fields')
                    }
                },
                deleteRecord(skill_code) {
                    if (window.confirm('Delete this record')) {
                        axios.delete("http://127.0.0.1:4999/delete_skill/" + skill_code)
                        .then(res => {
                            console.log(res)
                                alert('Skill delete successfully')
                                hr_skills.get_skill()
                        })
                        .catch(err => {
                            console.log(err)
                        })
                    }
                },
            }, 
            

            mounted: function(){
                this.get_skill()
            }
        })
    </script>

</body>
</html>